---
- name: Include v1 docker-compose tasks
  ansible.builtin.include_tasks: v1.yml
  when: not docker_compose_v2

- name: Install Docker Compose v2 plugin
  ansible.builtin.package:
    name:
      - docker-compose-plugin
    state: "{{ 'latest' }}"
  when: docker_compose_v2

- name: Ensure docker compose folders exists
  ansible.builtin.file:
    path: "{{ item }}"
    owner: root
    group: docker
    mode: "0750"
    state: directory
  with_items:
    - "{{ docker_compose_base_dir }}"
    - "{{ docker_compose_config_dir }}"
    - "{{ docker_compose_volume_dir }}"

- name: Ensure docker compose configuration folder exists
  ansible.builtin.file:
    path: "{{ docker_compose_config_dir }}/{{ item.name }}"
    owner: root
    group: docker
    mode: "0750"
    state: directory
  with_items: "{{ docker_compose_services }}"

- name: Ensure docker compose services are configured
  ansible.builtin.copy:
    content: |
      ---

      services:
        {{ item.services | to_yaml(indent=2, default_flow_style=False) | indent(2) }}
      {% if item.networks is defined and item.networks | length > 0 %}

      networks:
        {{ item.networks | to_yaml(indent=2, default_flow_style=False) | indent(2) }}
      {% endif %}{% if item.volumes is defined and item.volumes | length > 0 %}

      volumes:
        {{ item.volumes | to_yaml(indent=2, default_flow_style=False) | indent(2) }}
      {% endif %}{% if item.configs is defined and item.configs | length > 0 %}

      configs:
        {{ item.configs | to_yaml(indent=2, default_flow_style=False) | indent(2) }}
      {% endif %}{% if item.secrets is defined and item.secrets | length > 0 %}

      secrets:
        {{ item.secrets | to_yaml(indent=2, default_flow_style=False) | indent(2) }}
      {% endif %}
    dest: "{{ docker_compose_config_dir }}/{{ item.name }}/docker-compose.yml"
    group: docker
    mode: "0640"
    owner: root
  register: __services
  notify: Restart Docker Compose services
  with_items: "{{ docker_compose_services }}"

- name: Ensure docker compose environments are configured
  ansible.builtin.copy:
    content: |
      {% for env in item.environment %}
      {% if item.environment is not mapping %}
      {{ env }}
      {% else %}
      {{ env }}={{ item.environment[env] }}
      {% endif %}
      {% endfor %}
    dest: "{{ docker_compose_config_dir }}/{{ item.name }}/.env"
    group: docker
    mode: "0640"
    owner: root
  register: __environs
  notify: Restart Docker Compose services
  with_items: "{{ docker_compose_services }}"
  when:
    - item.environment is defined
    - item.environment | length > 0

- name: Set Docker Compose execuable to v1
  ansible.builtin.set_fact:
    dc_exe: /usr/local/bin/docker-compose
  when: not docker_compose_v2

- name: Set Docker Compose execuable to v2
  ansible.builtin.set_fact:
    dc_exe: "/usr/bin/docker compose"
  when: docker_compose_v2

- name: Ensure docker compose systemd service configured
  ansible.builtin.copy:
    content: |
      [Unit]
      Description=Docker Compose Application Service - {{ item.name }}
      Requires=docker.service
      After=docker.service
      StartLimitIntervalSec=60

      [Service]
      WorkingDirectory={{ docker_compose_config_dir }}/{{ item.name }}
      ExecStart={{ dc_exe }} up
      ExecStop={{ dc_exe }} down
      TimeoutStartSec=0
      Restart=on-failure
      StartLimitBurst=3

      [Install]
      WantedBy=multi-user.target
    dest: "/lib/systemd/system/docker-compose-{{ item.name }}.service"
    group: root
    mode: "0640"
    owner: root
  with_items: "{{ docker_compose_services }}"
  notify:
    - Reload SystemD
    - Enable Docker Compose services

- name: Ensure all handlers run before continuing
  ansible.builtin.meta: flush_handlers
